* {
    transition: 0.5s;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body{
    background-color: #FFF8EA;
    font-family:'nika';
}
.head {
    background-color:#594545 ;
    display: flex;
    margin: 1rem;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 0.5rem;
}
.logo {
   
    color: #FFF8EA;
    padding:  1rem;
    font-size: 3rem;
    text-align:end ;
    text-shadow: 3px 4px 0 #d8c29781;
    
}
.nav{
    display: flex;
    /* flex-direction: row; */
    font-size: 1.5rem;
    list-style: none;
    padding: 1.8rem;
    margin-right: -2.5rem;
}
.nav li{
    padding-right: 2rem;
    float: right;
    list-style: none;
    font-size: 1.5rem;
}

.nav li:hover{
    color: rgb(179, 130, 130);
    text-shadow:  5px 5px 0 #ebe0cab9;;
}

.nav a[href] {
    color:#FFF8EA;
}
.welcome {
    background-color: #815B5B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.2rem;
    border-radius: 2rem;
    /* margin-top: 0.2rem; */
}

.welpic{
    height: 20rem;
    width: 20rem;
    /* padding: 3rem; */
    margin: 3rem;
    flex-grow: 3;
    flex-basis: 30%;
}
.wtext {
margin: 5rem;
margin-top: 8rem;
font-size: 1.8rem;
flex-grow: 1;
flex-basis: 70%;
}
h2{
    font-size: 3rem;
}
.sec-main{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    gap: 1rem;
}

.aside-l{
    background-color: #9E7676;
    /* margin-right: 0.5rem; */
    padding: 3rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    flex-basis: 50%;
}
.aside-r{
    background-color: #9E7676;
    /* margin-left: 0.5rem; */
    padding: 3rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    flex-basis: 50%;
}
h3 {
    font-size: 2.2rem;
}
.aside-p{
    margin-top: 0.5rem;
}
.hrdesighn{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hrdesighn img{
    width: 2.5rem;
    /* border: 2px solid #4b3939;
    border-radius: 1rem;
    padding: 0.5rem; */
}
.hldesighn{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hldesighn img{
    width: 3rem;
    /* border: 2px solid #4b3939;
    border-radius: 1rem;
    padding: 0.5rem; */
}
.third-sec{
    background-color: #815B5B;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 1rem;
    margin-top: 1.5rem;
    gap: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1.5rem;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFF8EA;
    border-radius: 0.5rem;
    flex-basis: 20%;
    box-shadow:  4px 5px 0 #d8cbb0c7;

}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFF8EA;
    border-radius: 0.5rem;
    flex-basis: 60%;
    box-shadow:  4px 5px 0 #d8cbb0c7;
}

.box3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFF8EA;
    border-radius: 0.5rem;
    flex-basis: 20%;
    box-shadow:  4px 5px 0 #d8cbb0c7;
}
.box1 img{
    width: 15rem;
    padding: 2rem;
    height: 15rem;
}
.box2 img{
    width: 30rem;
    padding: 2rem;
    height: 15rem;
}
.box3 img{
    width: 15rem;
    padding: 2rem;
    height: 15rem;
}
.third-sec p {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
}
footer{
    display: flex;
    background-color: #594545;
    color: #FFF8EA;
    font-size: 1.5rem;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
}
.right-f img{
    width: 3rem;
    height: 3rem;
}
.right-f li:hover{
    color: #a89797;

}
.footer{
    display: flex;
    list-style: none;
    flex-direction: column;
}
.footer a[href]{
    color: #FFF8EA;
    list-style: none;
    padding-top: 0.5rem;
}
.left-f img{
    width: 12rem;
    height: 12rem;
    margin-left: 3rem;
    padding: 0rem;
}











